# Node & Expo defaults
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Secrets
android/keystores
credentials.json
# TODO: remove this once we have a proper iOS build
ios/
android/

# Build output
*.ipa
*.apk
*.aab